* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #d9ecf5;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

a {
    color: black;
    font-size: 1.5em;
    margin: 1em;
    text-decoration: none;
}

a:hover {
    color: #55551ae0;
}

navbar {
    background-color: #eceeec91;
    border: 1px solid #1f1e1e46;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    will-change: transform;
}

footer {
    align-items: center;
    background-color: #eceeec91;
    border: 1px solid #1f1e1e46;
    display: flex;
    justify-content: space-around;
}

#projects {
    height: 100vh;
    padding-top: 30px;
}

#project-tile-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    
}

.project-tile {
    font-size: 20px;
    text-align: center;
}

.screenshot {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

#welcome-section {
    color: #2e2c2ccb;
    height: 100vh;  
    text-align: center;
}

@media screen and (max-width: 600px) {
    navbar {
        align-items: center;
        flex-direction: column;
        position: static;
    }
}