* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #d9ecf5;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

a {
    color: black;
    font-size: 1.5em;
    margin: 1em;
    text-decoration: none;
}

a:hover {
    color: #55551ae0;
}

p {
    font-size: 1.5em;
}

navbar {
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-name: slide-bounce;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    will-change: transform;
}

.frame {
    background-color: #eceeec91;
    border: 1px solid #1f1e1e46;
    box-shadow: 1px 1px 3px #222121cb;
    padding: .3em;
}

footer {
    align-items: center;
    background-color: #eceeec91;
    border: 1px solid #1f1e1e46;
    display: flex;
    justify-content: space-around;
}

#about-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
}

#about-me {
    height: 80vh;
    padding: 20px;
    width: 50%;
}

#about-work {
    height: 80vh;
    padding: 20px;
    width: 50%;
}

#projects {
    height: auto;
    margin-bottom: 10px;
    padding-top: 50px;
}

#project-tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 30px 30px;
    justify-content: center;
}

.project-tile {
    font-size: 20px;
    justify-self: center;
    text-align: center;
}

.screenshot {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

#welcome-section {
    color: #222121cb;
    height: 80vh;  
    text-align: center;
}

#welcome-title {
    animation-delay: 1s;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-name: title-fade;
    border: 1px solid #222121cb;
    box-shadow: 2px 2px 5px 2px #222121cb;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    opacity: 0;
}

@keyframes slide-bounce {
    from {
        margin-left: 100%;
         width: 300%; 
    }

    50% {
        margin-left: -50%
        
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes title-fade {
    from {
        opacity: 0;
    }

    to {
        background-color: #eceeec91;
        opacity: 1;
    }
} 


@media screen and (max-width: 600px) {
    navbar {
        align-items: center;
        flex-direction: column;
        position: static;
    }
}